- var goodData = [{image: "img/good-4.png", id: 12456, name: "Модульный диван Charm", price: "283’670", description: "Кожаный диван с деревяной основой и алюминиевыми ножками"},{image: "img/good-1.png", id: 65434, name: "Модульный диван Grand Charlie Fauxleather", price: "3’670", description: "Кожаный диван с деревяной основой и алюминиевыми ножками в двадцати вариантах цвета и десяти вариантах конфигурации"},{image: "img/good-2.png", id: "434", name: "Диван Grand Eva", price: "3’670", description: "Лаконичный диван в гостиную"},{image: "img/good-3.png", id: "43888", name: "Диван c мягкими подлокотниками и квадратной спинкой Big James", price: "2’243’670", description: "Роскошный диван премиум-класса из натуральной кожи австралийского кенгуру и отделкой ценными породами дерева"},{image: "img/good-4.png", id: "28", name: "Диван-кровать в гостиную Eleanor", price: "500’178",description: "Раскладной диван"},{image: "img/good-3.png", id:"1213", name: "Диван c декоративными подушками  Audrey", price:"2’243’870", description: "Роскошный диван премиум-класса c подушками из натурального пуха."}];

mixin good(item)
  .good
    .good__base-info
      a.good__link(href='#')
        img.good__photo(src=item.image, alt='')
        span.good__id= "# "+item.id 
        span.good__zoom
      span.good__brand Sormani
      a.good__name-link(href='#')=item.name
      span.good__price
        | от 
        span.good__price-value= item.price
        |  руб.
    .good__info
      p.good__description= item.description
      a.good__to-liked(href ='#') Добавить в избранное 

for item in goodData 
  +good(item)    
